.git
.DS_Store
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/

data/
models/
mlruns/
ml_infra_deployment_ops/mlruns/

venv/
.venv/
node_modules/
ml_model_packaging_service/frontend/node_modules/
ml_model_packaging_service/frontend/dist/
ml_model_packaging_service/bff/node_modules/
ml_model_packaging_service/bff/dist/
